.hero-wrapper {
    border-radius: 3px;
    background-color: lightgray;
}
.hero-wrapper:hover .hero-id {
    background-color: rgb(85, 85, 220) !important;
}

p {
    font-size: larger;
}

.hero-id {
    background-color: rgb(65, 65, 200);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: gainsboro;
}

/*.hero-name {
    
}*/

.remove-hero-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gainsboro;
    color: rgb(25, 25, 25);
    height: 1em;
    width: 1em;
    border-radius: 100%;
    margin-left: auto;
    margin-right: .3em;
    text-align: center;
    text-justify: auto;
    -webkit-text-stroke: medium;
    font-weight: bold;
}

.hidden {
    display: none;
}