span {
    font-family: 'Segoe UI', sans-serif;
}

.hero-button {
    background-color: darkslategray;
    color: gainsboro;
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 1px;
    padding: 1em 2em;
    outline: none;
}